header {
  width: 100%;
  margin: auto;
}

nav {
  display: flex;
  padding: 32px 0;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (max-width: 416px) {
  nav {
    height: 190px;
    padding-top: 22px;
    align-items: unset;
  }
}
